<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h2>THe total number of users are : <%= count %> </h2>
   <form action="/user" method="get">  <button> Join our app today</button> </form>
</body>
</html>